.post {
  display: flex;
  border-radius: 4px;
  flex-direction: column;
  background-color: var(--card-background);
  width: 300px;
  min-width: 300px;
  height: 350px;
  color: var(--main-font-color);
  padding: 10px;

  .date {
    color: gray;
    margin-bottom: 4px;
    font-size: 12px;
  }
}
