.button {
  height: 34px;
  width: 100%;
  border-radius: 4px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;

  &.primary {
    @extend .button;
    background-color: #0073ea;
    border-color: #0073ea;
    outline-color: #0073ea;
    color: white;
  }

  &.error {
    @extend .button;
    background-color: red;
    color: white;
    outline-color: red;
    border-color: red;
  }
}
